{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    | Orders
{% endblock title %}
{% block orders %}
    <div class="container my-5">
        <div class="row">
            <h3>Welcome {{ request.user }}</h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid">
                        <a href="{% url 'orders' %}" class="btn btn-primary">Orders</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1">
                {% for op in order_placed %}
                    <div class="row shadow-sm mb-3">
                        <div class="col-sm-3">
                            <img src="{{ op.product.product_image.url }}"
                                 alt=""
                                 srcset=""
                                 class="image-fluid"
                                 height="150"
                                 width="150">
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Product: {{ op.product.title }}
                            </p>
                            <p>
                                Quantity: {{ op.quantity }}
                            </p>
                            <p>
                                Price: {{ op.total_cost_per_item }}
                            </p>
                        </div>
                        <div class="col-sm-3 fw-bold">
                            <p>
                                Order Status: {{ op.status }}
                            </p>
                            {% if op.status == 'Accepted' %}
                                <div class="progress">
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="width:20%"
                                         area-valuenow="20"
                                         area-valuemin="0"
                                         area-valuemax="100">
                                    </div>
                                </div>
                            {% endif %}
                            {% if op.status == "Packed" %}
                                <div class="progress">
                                    <div class="progress-bar bg-info"
                                         role="progressbar"
                                         style="width:40%"
                                         area-valuenow="40"
                                         area-valuemin="0"
                                         area-valuemax="100">
                                    </div>
                                </div>
                            {% endif %}
                            {% if op.status == "On the Way" %}
                                <div class="progress">
                                    <div class="progress-bar bg-warning"
                                         role="progressbar"
                                         style="width:70%"
                                         area-valuenow="70"
                                         area-valuemin="0"
                                         area-valuemax="100">
                                    </div>
                                </div>
                            {% endif %}
                            {% if op.status == "Delivered" %}
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width:100%"
                                         area-valuenow="100"
                                         area-valuemin="0"
                                         area-valuemax="100">
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock orders %}
