e{% extends 'core/base.html' %}
{% block title %}
    | Password-Reset-Complete
{% endblock title %}
{% block Passwordresetdone %}
    <div class="container mt-5">
        <div class="row my-3">
            <div class="col-sm-6 offset-3">
                <h4  class="alert alert-primary text-center" role="alert">Password Chnage Successfully</h4>
                <div class="text-center">
                    <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/clean-cleanmama-naturalhomekeeping-ibolLe3mOqHE3PQTtk"></a></p>
                </div>
    </div>
{% endblock Passwordresetdone %}
