e{% extends 'core/base.html' %}
{% block title %}
    | Password_Reset_Done
{% endblock title %}
{% block Passwordresetdone %}
    <div class="container mt-5">
        <div class="row my-3">
            <div class="col-sm-6 offset-3">
                <h4  class="alert alert-primary text-center" role="alert">Password Reset Sent</h4>
                <p>
                    We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                    If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                </p>
            </div>
        </div>
    </div>
{% endblock Passwordresetdone %}
