{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    |Profile
{% endblock title %}
{% block profile %}
    <div class="container my-5">
        <div class="row">
            <h3>Welcome {{ request.user }}</h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid">
                        <a href="{% url 'profile' %}" class="btn {{ active }}">Profile</a>
                    </li>
                    <li class="d-grid">
                      <a href="{% url 'address' %}" class="btn">Address</a>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-8 offset-sm-1">
                  <form action="" method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">
                                {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    {% for i in form %}
                        {{ i.label_tag }} {{ i }} <small class="text-danger">{{ i.errors|striptags }}</small>
                        <br>
                    {% endfor %}
                    <div class="text-center">
                      <input type="submit" class="btn btn-success" value="Sumbit">
                    </div>
                  </form>
                  <div class="text-center mt-4">
                    {% if messages %}
                      {% for message in messages %}<small class="alert alert-{{message.tags}} mb-5">{{ message }}</small>{% endfor %}
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
{% endblock profile %}
